main#settings {
    background: #fff
}

.dialog {
	padding: 16px 0;
	border-radius: 16px
}

.dialog.fail {
	color: red;
	background: rgb(255 0 0 / 0.1)
}

.dialog.success {
	color: green;
	background: rgb(0 255 0 / 0.1)
}